.main {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr 1fr;
  padding: 6rem;
  min-height: 100vh;
  max-width: 60ch;
  margin: 0 auto;
}

.systemLabel {
  position: absolute;
  left: 1em;
}

.pitchSet {
  display: flex;
  flex-flow: column nowrap;
  height: 8em;
  margin-bottom: 2em;
}
.pitch {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2em;
  outline: 1px solid;
  outline-offset: -0.5px;
}

.timeSignatureSet {
  display: flex;
  flex-flow: column nowrap;
  height: 8em;
  margin-bottom: 2em;
}
.timeSignature {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 2ch;
  height: 2em;
  outline: 1px solid;
  outline-offset: -0.5px;
}
.timeSignatureNumerator {
  font-size: 0.9em;
  height: 0.9em;
  line-height: 0.8;
}
.timeSignatureDenominator {
  font-size: 0.9em;
  height: 0.9em;
  line-height: 0.8;
}

.tupletSet {
  display: flex;
  flex-flow: column nowrap;
  height: 8em;
  margin-bottom: 2em;
}
.tuplet {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-size: 0.7em;
  height: 2rem;
  outline: 1px solid;
  outline-offset: -0.5px;
}